.view h4{ width: 30px; border-radius: 5px; background: #00a6d7; color:#fff;}
h4{ }
footer{ margin-top:60px;}
/*this design for login panel*/
#body{background: #28b2c7; width: 100%; height: 100%;}
#body{ background:-moz-linear-gradient(left, #e4e4e4,#95d9e3,#28b2c7) }
.hleft{padding-top:20px; float: left;width: 30%; }
.hright{padding-top:20px; float: right; width: 30%;}
.hright h3{ font-family: 'Droid sans'; font-size: ; font-weight: bold; color: #fff;};
#menu{ }