<h2 style="text-align: center;">Indian study information for Bangladeshi students</h2>


<div id="first_para" align="center">
Republic of India is a most popular country in South Asia and all over the world,
Studying and living in India is a special experience. India is one of the best countries for
rich in multi religious society. India is a good environment and easy acceptance of all cultures and
Religions, normally India a friendly nation. Students love and enjoy their
Stay in India.
The education quality in India is more valuable in world over the world. Students will be benefited after complete there education. 
Next admission has established itself as a leading Student Visa Consultant in Bangladesh. It offers various kinds of Universities especially 
</div>
</br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div id="sec_para">
&#10152;  Assam Down Town Unviersity </br> 
&#10152;  Adamas University, Amity University</br> 
&#10152;  JIS University </br> 
  &#10152; Lovely Professional Unviersity</br> 
  &#10152; Sharda University  </br> 
 &#10152; MM Unviersity </br> 
&#10152; CMR University </br> 
&#10152;  SRM University </br> 
   &#10152;  NIMS University</br>  
   &#10152;   VIT unviersity </br> 
   &#10152;  Jagannath University </br> 
   &#10152;   Manipal University</br> 
     &#10152;  Baddi University </br> 
     &#10152;  Manav Rachna University </br> 
     &#10152;  Chandigarh University (CU)</br> 
     &#10152;  Monad University </br> 
     &#10152;  Jodhpur National University </br> 
     &#10152;   Sehwag International School (SIS) </br> 
       &#10152;  Assam Don Bosco University </br> 
              &#10152;   North East Frontier Technical University (NEFTU) </br> 
        &#10152;   Dr. C. V. Raman University </br> 
        &#10152;   Institute of Chartered Financial Analysts of India University, Raipur</br> 
         &#10152;    Kalinga University </br> 
          &#10152;   MATS University </br> 
          &#10152;    ITM-University </br> 
          &#10152;    Ahmedabad University </br>  
           &#10152;   Rai University, Ahmedabad </br> 
            &#10152;  IndusUniversity, Ahmedabad </br> 
            &#10152;  ITM Vocational University, Gujarat </br> 
</div>
</br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div id="trd_para">
Next Admission has been providing up to 50% scholarship depending on Students result since 2005 because Next Admission is the Declared Regional Office above Listed Universities.   
Next Admission Have three brunches in Bangladesh. 
Next Admission is a private limited company governed by Bangladesh Government business law.
  <h2>Admission Requirements</h2>
&#8594; Academic Transcript</br>
&#8594; Photo 1 Copy (Passport Size)</br>
&#8594; Passport Copy/Birth Certificate/National ID</br>
&#8594; Registration Fees</br>
If you have any query please feel free call &#8658; 01911-342308
</div>


<style type="text/css">
	#first_para{
		width: 500px;
		margin: auto;
		text-align: justify;
	}
	#sec_para{
		width: 500px;
		margin: auto;
		text-align: justify;
	}
	#trd_para{
		width: 500px;
		margin: auto;
		text-align: justify;

	}

</style>
