@charset "utf-8";
/* CSS Document */
.break{width:100%; height:40px; background:#FFF; position:relative; border:solid 1px #D9E3EF;}


.breakingNews{width:100%; height:40px; background:#FFF; position:relative; border:solid 1px #D9E3EF;}
.breakingNews>.bn-title{width:auto; height:40px; display:inline-block; background:#D9E3EF; position:relative;}
.breakingNews>.bn-title>h2{display:inline-block; margin:0; padding:0 20px; line-height:40px; font-size:20px; color:#000000; height:40px; box-sizing:border-box;}
.breakingNews>.bn-title>span{width: 0;position:absolute;right:-10px;top:10px;height: 0;border-style: solid;border-width: 10px 0 10px 10px;border-color: transparent transparent transparent #DDDDDD;}

.breakingNews>ul{padding:0; margin:0; position:absolute; left:210px; top:0; right:40px; height:40px; font-size:16px;}
.breakingNews>ul>li{height:40px; width:100%; line-height:40px; display:inline;}
.breakingNews>ul>li>a{text-decoration:none; color:#333; display:inline; white-space: nowrap;text-overflow: ellipsis; font-weight:normal;}
.breakingNews>ul>li>a>span{color:#2096cd;}
.breakingNews>ul>li>a:hover{color:#2096cd;}

.bn-small{height:30px;}
.bn-small>.bn-title{height:30px;}
.bn-small>.bn-title>h2{line-height:30px; font-size:18px;}
.bn-small>.bn-title>span{top:5px;}
.bn-small>ul{height:30px; left:200px; font-size:14px;}
.bn-small>ul>li{height:30px; line-height:30px;}


