
body{ 
	font-family: Tahoma; 
	font-size:13px;
}
.padding-0{
	padding: 0 !important;
}
.padding-left-0{
	padding-left: 0 !important;
}
.padding-right-0{
	padding-right: 0 !important;
}
.margin-0{
	margin: 0 !important;
}
.wrapper_top{
	width:100%;	margin: 0 auto; position:relative; text-align:left; padding:5px 0px 0px 0px; background-color:#3a3a3c; min-height:35px;font-family:Tahoma; color:#FFFFFF; font-size:13px; font-weight:bold; 
}
.wrap_top_cont{
	width:70%; margin: 0 auto; position:relative;font-family: Tahoma;
}
.top_bar_btn{
	float:left; 
}
.top_bar_btn a{
	text-decoration:none; padding:4px 15px 5px 15px; margin:5px 0px 0px 0px; color:#fff; background:transparent; border:1px solid transparent; font-size:12px; font-weight:bold; text-align:center; line-height:14px; letter-spacing:1px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
}
.top_bar_btn a:hover{
	padding:4px 15px 5px 15px; margin:5px 0px 0px 0px; color:#fff; background:#68AA47; border:1px solid #fff; font-size:12px; font-weight:bold; text-align:center; line-height:14px; letter-spacing:1px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; position:relative;
}
.top_bar_btn .current{
	padding:4px 15px 5px 15px; margin:5px 0px 0px 0px; color:#fff; background:#68AA47; border:1px solid #fff; font-size:12px; font-weight:bold; text-align:center; line-height:14px; letter-spacing:1px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; position:relative; cursor:default;
}
.body_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}
.add-box {	

    border: 1px solid #eceae2;
	border-radius: 5px;
    box-shadow: 0 0 1px #eceae2;
    margin-bottom: 1.72766% !important;
    margin-left: 1.72766% !important;
    padding: 15px;
	text-align:center;
	-webkit-box-shadow: 0px 0px 1px 1px  #eceae2;
	 box-shadow: 0px 0px 1px 1px  #eceae2; 
	-webkit-transition: all 1.7s ease;
	transition: all 0.9s ease;
}
.add-box:hover {
  margin: -1px -1px 7px;
  border: 2px solid #eceae2;
  box-shadow: 0 0 8px #ccc;
}

#advert120x95 a:hover {
  border: 1px solid #457DED;
}
#advert120x95 a {
  display: block;
  border: 1px solid #bdcded;
  width: 120px;
  height: 95px;
  float: left;
  margin: 3px;
}
#advert253x40 a:hover {
  border: 1px solid #457DED;
}
#advert253x40 a {
  display: block;
  border: 1px solid #bdcded;
  width: 250px;
  height: 42px;
  float: left;
  margin: 3px;
}




#hotAdd a:hover {
  border: 1px solid #457DED;
}
#hotAdd a {
  display: block;
  border: 1px solid #bdcded;
  width: 50px;
  height: 50px;
  float: left;
  margin: 3px;
}

#blog a:hover {
  border: 1px solid #457DED;
}
#blog a {
  display: block;
  border: 1px solid #bdcded;
  width: 102px;
  height: 72px;
  float: left;
  margin: 3px;
}

.welllreg{ width:100%;min-height:20px;padding:20px;margin-bottom:10px;background-color:#FFF;border:1px solid #e3e3e3;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.welll blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}.welll-lg{padding:18px;border-radius:6px}.welll-sm{padding:9px;border-radius:3px}

.welll{ width:100%;min-height:20px;padding:9px;margin-bottom:10px;background-color:#FFF;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.welll blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}.welll-lg{padding:18px;border-radius:6px}.welll-sm{padding:9px;border-radius:3px}

.wellR{ width:108%;min-height:20px;padding:2px;margin-bottom:10px; margin-left:-20px;background-color:#FFF;border:1px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.wellR blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}.wellR-lg{padding:13px;border-radius:4px;}.wellR-sm{padding:9px;border-radius:3px}


.wellB{background-image: -ms-linear-gradient(top, #FFFFFF 0%, #d9e3ef 100%);
	
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #d9e3ef 100%);
	
	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #d9e3ef 100%);
	
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #d9e3ef));
	
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #d9e3ef 100%);
	
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #d9e3ef 100%);min-height:20px;padding:19px;margin-bottom:10px; margin-left:2px; margin-right:-16px;background-color:#FFF;border:2px solid #e3e3e3;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}.wellB blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}
	
.wellB-lg{padding:24px;border-radius:6px}
.wellB-sm{padding:9px;border-radius:3px}

.blogBG{background:#CCCCCC;border:1px solid #e3e3e3;border-radius:1px; padding:3px;}
.marhinadd{ margin-left:15px; margin-right:-45px;}
.footerLink{text-decoration:none;color:#FFFFFF; font-weight: bold; font-size:11px; font-family:Arial, Helvetica, sans-serif;}
.adcolor{color:#900; font-size:24px; font-weight:bold;}

.regTitle{color:#900; font-size:24px; font-weight:bold;}
.formtext{color: #333; font-size: 16px; font-weight: normal;}
.attachmentbody{
	width: 114px;
	height: 110px;
	float: left;
}
.attachmentbody .progress{
	height: 12px;
	margin-top: 45px;
}
.attachmentbody ul {
	border-radius: 5px;
	list-style: outside none none;
	position: relative;
	float: left;
	padding: 0;
}
.attachmentbody ul li.remove{
	top: 0;
	right: 5px;
	position: absolute;
}
.attachmentbody img {
	border-radius: 5px;
	height: 100px;
	width: 100px;
	padding: 5px;
}
.attachmentbody ul.success {
	border: 1px solid #339933;   
}
.attachmentbody ul.img_error {
	background: #f0c6c3 none repeat scroll 0 0;
	border: 1px solid #cc6622;
}

.leftmenu {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}
.leftmenu a {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}
.leftmenu a:link {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}
.leftmenu a:hover {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#660000;
}


.reg_style {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}
.reg_title {
	font-size:18px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
}

/* left Menu css */
ul.leftnav, .leftnav>li, .leftnav>li>a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul.leftnav {
	line-height: 1;
}

/* Basic layout & positioning */
.leftnav, .leftnav ul {
	position: relative;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 270px;
}

	/* The list elements containing the links */
	.leftnav li, .leftnav ul li {
		display: block;
		position: relative;
		padding: 0;
		margin: 0;
	}

	/* The navigation links */
	.leftnav>li>a {
		/* Layout */
		position: relative;
		display: block;
		width: 250px;
		padding: 10px 10px 10px 15px;
		border-top: 1px solid #cfcfcf;
		border-left: 1px solid #cfcfcf;
		border-right: 1px solid #cfcfcf;

		/* Text */
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-size: 14px;
		text-decoration: none;
		color: #8e8e8e;
		text-shadow: 0 1px 0 #fff;

		/* Background & effects */
		background: #eeeeee; /* Background for old browsers */
		background: -webkit-linear-gradient(bottom, #eaeaea, #f4f4f4); /* Background for Chrome & Safari */
		background: -ms-linear-gradient(bottom, #eaeaea, #f4f4f4); /* Background for Internet Explorer 10 */
		background: -moz-linear-gradient(bottom, #eaeaea, #f4f4f4); /* Background for Firefox */
		background: -o-linear-gradient(bottom, #eaeaea, #f4f4f4); /* Background for Opera */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eaeaea',GradientType=0); /* Background for Internet Explorer 8-9 */
		box-shadow: inset 0 1px 0 #fff; /* Subtle white inner shadow */
	}

	/* The arrow indicating a dropdown menu */
	.dropdown>a::after {
		 content: "";
		 position: absolute;
		 top: 16px;
		 right: 10px;
		 width: 0px;
		 height: 0px;

		 /* Creating the triangle using borders */
		 border-top: 5px solid #b2b2b2;
		 border-left: 4px solid transparent;
		 border-right: 4px solid transparent;
		 border-bottom: 5px solid transparent;
		}

	/* The hover state of the links */
	.leftnav>li>a:hover, .leftnav>li:hover>a {
		background: #eeeeee;
		background: -webkit-linear-gradient(bottom, #f3f3f3, #ffffff);
		background: -ms-linear-gradient(bottom, #f3f3f3, #ffffff); 
		background: -moz-linear-gradient(bottom, #f3f3f3, #ffffff);
		background: -o-linear-gradient(bottom, #f3f3f3, #ffffff);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0);
	}

	/* Subtle drop shadow for the last navigation link */
	.leftnav>li:last-child>a {
		border-bottom: 1px solid #cfcfcf;
		box-shadow: inset 0px 1px 0px #fff,
					0px 1px 1px rgba(60, 60, 60, .1);
	}

	/* The dropdown list elements containing the sub-links */
	.leftnav ul li {
		position: absolute;
		height: 0px;
		top: -9999px;

		/* Creating the slide effect using transitions */
		-webkit-transition: height .3s ease-out;
		-ms-transition: height .3s ease-out;
		-moz-transition: height .3s ease-out;
		-o-transition: height .3s ease-out;
	}

	.leftnav li:hover li {
		/* Expanding the list elements */
		height: 30px;
		position: relative;
		top: auto;
	}

	/* The dropdown menu's links */
	.leftnav ul li a {
		/* Layout & positioning */
		position: relative;
		display: block;
		width: 240px;
		padding: 8px 10px 8px 25px;
		border-top: 1px solid #e1e1e1;

		/* Text */
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal;
		font-size: 13px;
		text-decoration: none;
		border-left: 1px solid #cfcfcf;
		border-right: 1px solid #cfcfcf;
		background: white;
		color: #b7b7b7;
		
	}

	/* The hover state of the dropdown menu links */
	.leftnav ul li a:hover {
		color: #787878;
	}

	.leftnav .dropdown:hover li:first-child a {
		box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .12);
		border-top: 1px solid #cfcfcf;
	}

	.leftnav li:last-child ul li:last-child a {
		border-bottom: 1px solid #cfcfcf;
		box-shadow: 0px 1px 1px rgba(60, 60, 60, .1);
	}
	
	.forpass1 {
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:#000;
	}
	.forpass1 a {
		font-size:10px;
		font-weight:normal;
		text-decoration:none;
		color:#000 !important;
		background:none !important;
		padding-left:100px !important;
	}
	.forpass1 a:link {
		font-size:10px;
		font-weight:normal;
		text-decoration:none;
		color:#000;
	}
	.forpass1 a:hover {
		font-size:10px;
		font-weight:normal;
		text-decoration:none;
		color:#FF0000 !important;
	}
	
	.forget {
	font-size:25px;
	font-family: open sans, SolaimanLipi;
	font-weight:normal;
	text-decoration:none;
	color:#333333;
	}
	.fortext {
	font-size:18px;
	font-family: open sans, SolaimanLipi;
	font-weight:normal;
	text-decoration:none;
	color:#333333;
	}
	
	.topMenuText {
	font-size:18px;
	font-family: open sans, SolaimanLipi;
	font-weight:normal;
	text-decoration:none;
	color:#333333;
	}
	
	
	
	#example2 {
            font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
            font-size:14px;
            margin: 0;
            padding: 0;
            width: 250px;
            list-style-type: none;
            background-color: #FFFFFF;
            color: #000000;
            line-height: 120%;
            height: 80px;
        }

        #example2 a {
            display: block;
            font-weight: normal;
            text-decoration: none;
        }

        #example2 ul {
            overflow: hidden;
            margin: 0;
            padding: 0;
			
			
        }

        #example2 li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        #example2 li a {
            font-weight: bold;
            
            padding: 0px 0 0 5px;
            display: block;
            color: #000000;
             height: 25px;
			 
			 
        }

        #example2 li a.closed {
            color: #000000 !important;
           
        }

        #example2 li.firstitem a.closed {
            color: #000000 !important;
            
        }

        #example2 li.lastitem a.closed {
            color: #000000 !important;
           
        }

        #example2 li li {
            
            padding: 5px 15px 0 15px;
            height: 35px;
			background:#3db3d6;
			border:solid 1px #0CF;
			border-radius:3px;
			color:#FFFFFF;
        }

        #example2 li a.opened {
           
            color: #FFFFFF;
        }

        #example2 li.firstitem a.opened {
            
            color: #FFFFFF;
        }

        #example2 li.lastitem li {
            margin-bottom: -4px;
        }

        #example2 li.lastitem ul {
			
            padding-bottom: 4px;
        }
	
.zoom img {
 height:58px;
 width:58px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
   transition: all 2s ease;
}
 
.zoom img:hover {
  width: 70px;
  height: 70px;

}

.zoom:hover{ 
 -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
 -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);

}


.link_stylea {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	color:#FFF !important;
	text-decoration:none;
	}
.link_stylea a {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	color:#FFF !important;
	text-decoration:none;
	display: block;
	}
.link_stylea a:link {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	color:#FFF !important;
	text-decoration:none;
	display: block;
	}
.link_stylea a:hover {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	color:#F00 !important;
	text-decoration:none;
	}
	
.comment_style {
	width:200px;
	height:200px;
	background:#FFF;
	border-radius:3px;
	}
	
	.news_style {
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:#333;
	text-align:justify;
	}
	.news_style a {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#333;
		text-align:justify;
	}
	.news_style a:link {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#333;
		text-align:justify;
	}
	.news_style a:hover {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#660000;
		text-align:justify;
	}
	
	.news_style1 {
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:#06C;
	text-align:justify;
	}
	.news_style1 a {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#06C;
		text-align:justify;
	}
	.news_style1 a:link {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#06C;
		text-align:justify;
	}
	.news_style1 a:hover {
		font-size:12px;
		font-weight:normal;
		text-decoration:none;
		color:#06C;
		text-align:justify;
	}
	
	
	
	.news_details {
	    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:15px;
		font-weight:normal;
		text-decoration:none;
		color:#333;
	}
	
.login_reg {

	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;

	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;

	box-shadow:inset 0px 1px 0px 0px #bbdaf7;

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );

	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');

	background-color:#79bbff;

	-moz-border-radius:3px;

	-webkit-border-radius:3px;

	border-radius:3px;

	border:1px solid #84bbf3;

	display:inline-block;

	color:#ffffff;

	font-family:arial;

	font-size:15px;

	padding:2px 7px;

	text-decoration:none;

	text-shadow:1px 1px 0px #528ecc;

	cursor:pointer;
	font-weight:bold;
}

.login_reg:hover {

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );

	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );

	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');

	background-color:#378de5;

	cursor:pointer;

}

.login_reg:active {

	position:relative;

	top:1px;

	cursor:pointer;

}

.content_box {
	
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	border:1px solid #d1d1d1;
	background:#ffffff;
	width:280px;
	padding:10px;

}

.content_box_right {
	border:1px solid #d1d1d1;
	background:#ffffff;
	width:280px;
	padding:20px;

}

.table_heading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	background-color:#ededed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border:2px solid #d9e3ef;

}

.tr_odd{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	background:#F7F7F7;
}
.tr_even{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333333;
	background:#F0F0F0;
}

.tr_odd2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background:#F7F7F7;
}
.tr_even2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background:#F0F0F0;
}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 350%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.70;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 9%;
	left: 69%;
	width:auto;
	height:auto;
	padding: 0px;
	border: px solid gray;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.comment_content {
	display: none;
	position: absolute;
	top: 9%;
	left: 0%;
	width:auto;
	height:auto;
	padding: 0px;
	border: px solid gray;
	background-color: white;
	z-index:1002;
	overflow: auto;
}
.tropic{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	
}
.reply{
     display:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	
}
.comnt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#009966;
	
}
.comnt2{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	
}

.comntorg {
	background:#0e73a9;
	height:30px; 
	width:120px; 
	text-align: center;
	border-radius:5px;
	color:FFFFFF !important;
}


.comntorg2 {
	background:#09F;
	height:30px; 
	width:215px; 
	float:right; 
	border-radius:5px;
	color:FFFFFF !important;
}

.comntorg3 {
	background:#dae4ef;

}

.active {
	
	text-decoration:none;
	background:#f4f4f4 !important;

}

.active a {
	
	text-decoration:none;
	background:#f4f4f4 !important;

}

.active a:link {
	
	text-decoration:none;
	background:#f4f4f4 !important;

}
.active a:hover {
	text-decoration:none;
	color:#000;
	background:#f4f4f4 !important;

}


.comntorg4 {
    font-weight:bolder;
	border:solid 1px #e3e3e3;

}

.searh_style {
	color:#39F;
	font-weight:!important;
	font-size:16px;
	border-bottom:solid 1px #e3e3e3;
	width:100%;
	height:50px;
	vertical-align:middle;
	padding-top:10px;
}

.searh_style1 {
	color:#000;
	font-weight:!important;
	font-size:14px;
	border-right:solid 1px #e3e3e3;
	padding-top:7px;
}

.searh_style2 {
	color:#000;
	font-weight:!important;
	font-size:14px;
	padding-top:7px;
}

.searh_style3 {
	color:#000;
	font-weight:bold;
	font-size:14px;
	border-right:solid 1px #e3e3e3;
	border-bottom:solid 1px #e3e3e3;
	padding-top:5px;
}

.searh_style4 {
	color:#000;
	font-weight:bold;
	font-size:14px;
	padding-top:5px;
	border-bottom:solid 1px #e3e3e3;
}

.searh_style5 {
	color:#000;
	font-weight:bold;
	font-size:14px;
	padding-top:7px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
		  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

.marquee,
.marquee-with-options,
.marquee-vert-before,
.marquee-vert {
width: 260px;
overflow: hidden;
		}

.link-stylejob {
	color:#FFF;
	text-decoration:none;
	}
.link-stylejob a {
	color:#FFF;
	text-decoration:none;
	}
.link-stylejob a:link {
	color:#FFF;
	text-decoration:none;
	}
.link-stylejob a:hover {
	color:#F00;
	text-decoration:none;
	}
	
.view-advritesmentview {
	color:#000;
	font-size:16px;
	font-weight:400;
	}
	
.view-advritesmentviewlink {
	color:#337ab7;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
	
.view-advritesmentviewlink a {
	color:#337ab7;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
.view-advritesmentviewlink a:link {
	color:#337ab7;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
.view-advritesmentviewlink a:hover {
	color:#F00;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
	
.view-advritesmentviewapply{
	color:#000;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
.view-advritesmentviewapply1{
	color:#333;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	
.view-advritesmentviewapply2{
	color:#333;
	font-size:15px;
	font-weight:400;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#babdc0;
	height:40px;
	padding-top:5px;
	}
	
	.view-advritesmentviewapply3{
	color:#333;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	text-align:center;
	}
	
	.view-advritesmentviewapply4{
	color:#333;
	font-size:14px;
	font-weight:400;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height:30px;
	text-align:center;
	}
	
.view-advritesmentviewlink11 {
	color:#000;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
	
.view-advritesmentviewlink11 a {
	color:#000;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
.view-advritesmentviewlink11 a:link {
	color:#000;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
.view-advritesmentviewlink11 a:hover {
	color:#F00;
	font-size:18px;
	font-weight:400;
	text-decoration:none;
	}
	
.profile-pic {
	height:30px;
	width:30px;
	}
.img-circle {
	padding-bottom:0px;
	vertical-align:bottom;}
	
.menu-circular-style {
	height:30px;
    margin-left:5px;
	padding-top:5px;
	border-bottom:0px;
	border-radius:5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background:#f4f4f4;
	}
	
	.menu-circular-style2 {
	height:30px;
    margin-left:5px;
	padding-top:5px;
	border-bottom:0px;
	border-radius:5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background:#f4f4f4;
	}
	
	
	.menu-inactive {
	height:30px;
    margin-left:5px;
	padding-top:5px;
	border-bottom:0px;
	border-radius:5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background:#FFFFFF;
	}
	
	.menu-inactive2 {
	height:30px;
    margin-left:5px;
	padding-top:5px;
	border-bottom:0px;
	border-radius:5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background:#FFFFFF;
	}
	
	
	.glob_africa {
		background:#3366FF;
	}
	
	.glob_asia {
		background:#000000;
	}
	
	.glob_australia {
		background:#660066;
	}
	
	.glob_europ {
		background:#FF0000;
	}
	
	.glob_nort {
		background:#3333FF;
	}
	
	.text_app {
    color: #4f4f4f;
    font-family: Cambria,"Hoefler Text","Liberation Serif",Times,"Times New Roman",serif;
	line-height:24px;
	letter-spacing:1px;
    font-size: 16px;
    }
	
	/*Contact Pages
------------------------------------*/
.map {
	width:100%; 
	height:350px;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
}

/* important! bootstrap sets max-width on img to 100% which conflicts with google map canvas*/
.map img {
	max-width: none;
}

.map-box {
	height: 250px;
}

.map-box-space {
	margin-top: 15px;
}
.map-box-space1 {
	margin-top: 7px;
}

/*

*/

/*@media (min-width: 992px) {*/
.servive-block-ananta {
    height: 196px;

}
/*}*/

.col-sm-3 .img-responsive {
    margin: auto;
}

.ananta-lead {
    font-size: 1.2em;
    line-height: 1.6em;
}

.media-heading {
    color: #555;
    font-size: 17px;
    position: relative;
}

#pr_address {
    display: none;
}

.blog .pr-responsive img {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 600px) {
    .pr-responsive img {
        display: block;
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 991px) {
    .ananta-clients-sidebar {
        display: none;
    }
}


.blog-post p{
	line-height: 20px;
	font-size: 12px;
	text-align: justify;
}

.post{
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #fff;
	padding:10px !important
}
.post:hover{
	box-shadow: 0px 0px 5px 0px #ccc;
}
.post img{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.42857;
    margin-right: 10px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.post h5{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}


.post p{
	text-align: justify; 
}





.searchStyle{
	box-shadow: 0px 0px 5px 0px #fff;
	padding:10px !important
}
.searchStyle:hover{
	box-shadow: 0px 0px 5px 0px #ccc;
}
.searchStyle img{
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    line-height: 1.42857;
    margin-right: 10px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.searchStyle h5{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}


.searchStyle p{
	text-align: justify; 
}


/*live chat css start*/

.chat_box{
 background-color:#FFFFFF;
 width:250px;
 position:fixed;
 bottom:0px;
 right:10px;
 border-radius:5px 5px 0px 0px;
 z-index:99999999;
}

.chat_head,.msg_head{
 background: #4E69A2;
 padding:10px;
 color:#FFFFFF;
 border-radius:5px 5px 0px 0px;
 
}

.chat_body{
 height:400px;
 overflow: scroll;
 overflow-x: hidden;
 border-left:2px solid #C5CDE0;
 
}

.user{
  padding:4px 25px 0px 3px;
  position:relative;
  cursor:pointer;
  font-size:12px;
  color:000000; 

}
.user:after{
content:"";
position:absolute;
width:8px;
height:8px;
background-color:green;
right:6px;
top:10px;
border-radius:5px;
 
}

.msg_box{
 background-color:#FFFFFF;
 width:250px;
 position:fixed;
 bottom:0px;
 right:10px;
 border-radius:5px 5px 0px 0px;
}

.msg_head{
 background-color:#4E69A2;
 cursor:pointer;
}

.msg_body{
 height:220px;
 font-size:12px;
 bottom:-5px;
 padding:5px;
 
}
.close{
float:right;
 
}

.msg_input{
 width:242px;
 
}

.msg_first{
 background-color:#333333;
 color:#FFFFFF;
 padding:5px;
 margin-top:5px;
 margin-right:5px;
 
}

.msg_second{
 background-color:#666666;
 padding:5px;
 color:#FFFFFF;
 margin-top:5px;
 margin-right:5px;
 
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}
.position_text{
	padding:8px 10px;
	background:#dff0d8;
	color:#337ab7;
	border-radius: 5px;
	border-color: #d6e9c6;
	max-width:200px;
	margin:0 auto
}
/*live chat css end*/








	
