@font-face {
    font-family: 'GandhiSansRegular';
    src: url('../fonts/1/gandhisans-regular-webfont.eot');
    src: url('../fonts/1/gandhisans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/1/gandhisans-regular-webfont.woff') format('woff'),
         url('../fonts/1/gandhisans-regular-webfont.ttf') format('truetype'),
         url('../fonts/1/gandhisans-regular-webfont.svg#GandhiSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HeydingsCommonIconsRegular';
    src: url('../fonts/2/heydings_icons-webfont.eot');
    src: url('../fonts/2/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2/heydings_icons-webfont.woff') format('woff'),
         url('../fonts/2/heydings_icons-webfont.ttf') format('truetype'),
         url('../fonts/2/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#topnav {
width:980px;
margin: 30px 20px;
}
ul.dropmenu {
list-style:none;
padding:0;
float:left;
padding:0;


}
.dropmenu > li {
position:relative;
padding:2px 6px 12px 3px;
float: left;
margin-top:0px;
height: 23px;
}

.drop_icon {
font: 1.2em/1.1 "HeydingsCommonIconsRegular";
position:absolute;
z-index: 99;
color:rgb(250, 250, 250);
left: -10px;
top:7px;
}
.drop_icon.search_icon {
top: 11px;
color: rgb(42, 44, 40);
left: 14px;
}
.dropmenu > li:first-child + li  + li + li + li + li:after {
content:"*";
font: 1.8em/1.05 "HeydingsCommonIconsRegular";
position:absolute;
right:4px;
top:-12px;
z-index: 99;
color: #212121;
}
span.notification:before {
content:"3";
position:relative;
right:-8px;
top:-20px;
z-index: 100;
font-size: 10px;
}

.dropmenu > li:hover {


}
.dropmenu li a {
text-decoration:none;
font: 1.18em/1.33 'GandhiSansRegular', helevtica, arial;
color: rgb(254, 252, 254);
display:inline-block;
padding: 6px 15px 6px 15px;
text-indent: 25px;
vertical-align: middle;
text-shadow: 0 0 30px rgba(230, 230, 230, .46);
border-radius: 2px;

}


.drop_common{


}
.subdrop  {
position:absolute;
left:0;
top: 48px;
z-index: 99;
float: left;
margin-left:0px;
visibility:hidden;	
opacity:0;
}
.subdrop li {
list-style:none;
}
.column_3 li { 
border-bottom: 1px dashed rgba(105, 107, 108, .4);
}
.column_3 li:nth-child(7) + li {
border-bottom:none;
}
.subdrop li a {
text-indent:0;
white-space: nowrap;
font-size: 1em;
padding:5px;
display: block;
width:250px;
background:#3db3d6;

}
.subdrop li a:hover {
color:rgb(500,500,500);
}
/**=============3 Column Subdrop===============**/
.column_3 {width: 840px;}
.col_110 { width: 510px;
float:left;
margin: 8px 10px 8px 20px;
}
.col_110_head h3, .col_350_head h3   {
white-space: nowrap;
color:#f8f8f8;
font-family: 'GandhiSansRegular', "Trebuchet MS", helvetica, arial;
}
.col_110_head h3 {
margin: 15px 0px 10px;
font-size: 15px;
font-weight: 600;
}
.column3_footer {
background:#101010;
box-shadow:inset 0 0 100px rgba(35, 32, 33, .92), 0px 2px 2px  rgba(2,3,4,.7);
float: left;
width: 100%;
}
.column3_footer p a{
font: italic 13px  'GandhiSansRegular';
color: #e6e6e6;
float: right;
margin-right: 10px;
}

/**=====================Drop Column=================**/
.dropmenu li .full_drop {
text-indent: 0;
}

.drop_column {
width: 130px;
}
.drop_col_menu {
margin: 0px 0;
}
.drop_col_menu li a {
font-size: 13px;
padding: 6px 15px;
letter-spacing: 1px;
}
.nested_drop {
position:relative;
}
.nested_drop li a {
padding: 8px 40px 8px 15px;
}
.nested_drop .right-arrow{
background: url(../img/right-arrow.png) no-repeat 90px;
}
.nested_sub_drop .right-arrow {
background: url(../img/right-arrow.png) no-repeat 70px;
}
.nested_right_drop, .nested_right_sub_drop  {
position:absolute;
opacity:0;
visibility: hidden;
border-radius: 4px;
}
.nested_right_drop {
top: -10px;
 left: 120px;
}
 .nested_right_sub_drop {
 top:30px;
left: 90px;
 }
.nested_right_sub_drop li a {
padding: 5px 30px 5px 13px;
}

/**==================1 Column  Subdrop=================**/
.column_1 {width: 350px;}
.col_350 {
margin: 35px 10px 15px 0;
}
.col_350_head h3 {
margin: -15px 95px 5px;
font-size: 14px;
}
.col_350 p {
margin-left: 95px;
color: #eee;
font:  13px/1.6  'GandhiSansRegular', helvetica;
}
.col_350 p a {
text-indent:3px;
padding:0 15px;
float:right;
font-size: 13px;
color:rgb(188, 180, 180);
}
.col_350  img {
float: left;
width: 72px;
height: 68px;
border: 4px solid #ddd; /**fallback**/
border: 4px solid rgba(220, 220, 220, .3);
margin-top: -20px;
box-shadow: 0 0 1px 2px rgba(210, 210, 210, .3);
margin-left: 8px
}



/**====================Sign Up========================**/
#sign-up {
position:absolute;
padding: 15px 18px;
right:0;
z-index: 99;
visibility:hidden;
top:47px;
opacity:0;
border-radius:4px 0 4px 4px;
}

#sign-up label {
color:rgb(248, 248, 248);
margin: 5px 2px;
font: 1em/1.2 'GandhiSansRegular', helevtica, arial;
}
#sign-up input {
border-radius: 1px;
border: none;
display: block;
width: 150px;
margin: 4px 0;
box-shadow: 0 0 1px 2px rgba(38, 65, 118, .34);
padding: 3px 0px 3px 6px;
}
#sign-up input:focus {
outline:none;
box-shadow:  inset 0 0 2px 1px rgba(2, 2, 2, .47);
}
#sign-up .sign-up-button {
padding: 2px 15px;
display: inline-block;
cursor: pointer;
border: none;
color: rgb(230, 232, 230);
border-radius: 4px;
width: 75px;
font: 13px/1.4 'Trebuchet MS', helevtica, arial;
margin: 5px 2px 5px 2px;
background:#191919;
box-shadow: 0 1px 1px rgba(3, 2, 2, .9);
}
#signup_footer  a {
display:inline;
font: italic 11px 'Trebuchet MS', helvetica, arial;
margin: 5px 5px 5px 2px; 
white-space:nowrap;
padding:2px;
color:#f7f7f7;
}
/**===Drop/Sub Drop Down Appear on Hover===**/
.dropmenu li:hover .subdrop {
visibility: visible;
top: 37px;
opacity: 1;
}
.nested_drop:hover > .nested_right_drop, .nested_sub_drop:hover > .nested_right_sub_drop {
visibility: visible;
opacity:1;
}
.dropmenu li:hover > #sign-up {
visibility: visible;
opacity:1;
top:37px;
}

