.title_text{
	background: none repeat scroll 0 0 #5a88ca;
	border-radius: 3px 3px 0 0;
	color: #fff;
	font-size: 21px;
	padding: 15px 0 ;
	text-align: center;
}
.map_area{
	margin-top: 35px;
}
.contact_us_container{
	width:100%;
}
.leftpane{
	width:100%;
	float:left;
 
	margin-right:5px;
}
#map-canvas{
	width:90%;
	height:280px;
	margin:3px 40px;
}
form {
	margin-bottom: 20px;
}

#contactUs input, textarea {
	width:100%;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ddd;
	padding:10px;
	margin-top:20px;
	font-size:0.9em;
}
input:focus, textarea:focus {
	border:1px solid #ddd;
}
textarea {
	height:211px;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../../../img/wpage/textarea-bg.jpg) right no-repeat #efefef;
}
.submitl {
	width:127px;
	height:38px;
	border:none;
	margin-top:20px;
	cursor:pointer;
}
#contactUs td {
	vertical-align:top;
}
#submit:hover {
	opacity:0.9;
}
.rightpane{
	float:left;
	width:100%;
}
.address , .numbers{
	border:1px solid #ddd;
}
.address_area, .numbers_area{
	padding:15px;
	line-height:34px;
}
.tilecontac{
  	background: none repeat scroll 0 0 #5a88ca;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    width: 100%;
	text-transform:uppercase;
}
label.error{
  color: red;
    font-family: verdana;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 0 !important;
    width: 440px !important;
	border:0px !important;

}
.form_top{
	margin-top: 20px;
	margin-bottom: 25px;}