@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li a,
.cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#000000 !important;
  z-index:999;
  vertical-align: top;
}
.cssmenu:after,
.cssmenu > ul:after {
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.cssmenu #menu-button {
  display: none;
  background:#009966 !important;
}
.cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #000;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}
.cssmenu > ul {

}
.cssmenu.align-right > ul > li {
  float: right;
}
.cssmenu > ul > li {
  float: left;
  display: inline-block;
}
.cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
.cssmenu.align-center > ul > li {
  float: none;
}
.cssmenu.align-center ul ul {
  text-align: left;
}
.cssmenu > ul > li > a {
  padding: 18px 10px 21px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cssmenu > ul > li:hover > a,
.cssmenu > ul > li > a:hover,
.cssmenu > ul > li.active > a {
  color: #000;
  background: #fff;

}
.cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
 
}
.cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;;
  border: 6px solid transparent;
  border-top: 15px solid transparent;
  border-top-color: #000;
  right: 22px;
  top: 22px;
}
.cssmenu > ul > li.has-sub.active > a::after,
.cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
.cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 3px;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
.cssmenu.align-right ul ul {
  text-align: right;
}
.cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
.cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
.cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
.cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
.cssmenu > ul > li > ul {
  top: 120px;
}
.cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
.cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
.cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
.cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
.cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
.cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
.cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 5px 5px;
  width: 170px;
  color: #000;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}

.cssmenu ul ul li a:hover {
  text-decoration: none;
  font-weight: 400;
  padding: 5px 5px;
  width: 170px;
  color: #3399FF !important;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}


