.float_left{
	float:left;
}
.float_right{
	float:right;
}
/* Responsive code for Destop*/
#menu1{z-index: 9999999999;}
#menu1 table{
	border: 3px solid #DC2033 !important;
	font-family: verdana, sans-serif;
	font-size: 100%;
	border-collapse: collapse;
	width: 16.75em;
}
#menu1 table tr{
	
}
#menu1 table tr td{
	border-bottom: 1px dotted #9fcfff !important;
	border-left: 1px solid black;
	text-align: center;
	vertical-align: middle !important;
	background-color: #1B9AFF !important;
}
#menu1 table tr td a{
	background-color: #1B9BFF !important;
	color: #F2E385 !important;
	font-size: 15px;
	font-family: arial;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding-top:3px;
	font-weight: 400;
	border-radius: 5px;
}
#menu1 table tr td a:hover{
	background-color:#ED1144 !important;
	color:#fff !important;
}

.adStyle{
	cursor: pointer;
	box-shadow: 0px 0px 5px 0px #fff;
	padding:10px !important
}

.adStyle img{
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-block;
	line-height: 1.42857;
	margin-right: 10px;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
}
.adStyle h5{
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}


.adStyle p{
	text-align: justify; 
}

/* below style code is for right sidebar*/
.rightsidebar{
	font-size: 14px;
	background: #ad9c9c;
	margin-bottom:10px;
	width:100%;
	float: right;
}	
.rightsidebar ul{}
.rightsidebar ul li{
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid gray;
}
.rightsidebar ul li.passive{
	background:#32b60a;
}															
.rightsidebar ul li a{
	color:#fff;
	font-weight:bold;
	font-size:17px;
 }

.rightsidebar ul li a:hover{ 
	color:red;
	text-decoration:none;
}					

.logo{ background: #669999; height: 100px; text-align: center;}
.name{background: gray;height: 100px; text-align: center;}
.menu{background: #ff99cc;height: 100px; text-align: center;}
.pull-left{width: 485px;}
/* right sidebar code  end*/	
		
.titleorgin{
	padding-left:180px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#FFFFFF;
}

.red{
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#FF0000;
}
.green{
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#3300FF;
}
.yellow{
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#003300;
}

.popover{
	max-width: 100%; /* Max Width of the popover (depending on the container!) */
 }
 
.button {
	display: inline-block;
	background: #6FB4FB;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 10px;
}

.badge-notify{
   background:red;
   position:relative;
   top: -25px;
   left: -5px;
}

[data-notifications] {
	position: relative;
}

[data-notifications]:after {
	content: attr(data-notifications);
	position: absolute;
	background: red;
	border-radius: 50%;
	display: inline-block;
	padding: 0.3em;
	color: #f2f2f2;
	right: -15px;
	top: -15px;
}


.breakingNews>.bn-title {
	background: #00c853;
}
.breakingNews>.bn-title h2{
	color: #007eff !important;
}

.goog-te-menu-value {
	text-decoration: none;
	color: #0000cc;
	white-space: nowrap;
	margin-left: -4px !important;
	margin-right: 4px;
}

.row input {
	margin-top: 0px !important;
	margin-bottom: 0px !important; 
}

/** Desktop **/
.login_regi{
    margin-top: 5px;
}

.previous_area{
	margin-top: 20px;
}

.content_area{
	padding: 10px;
}

.content{
	padding: 10px;
	border: 1px solid #CCCCCC;
    min-height: 450px;
}



.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 0px; 
    line-height: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.right_sidebar{
	padding-top: 10px;
	margin-right: 10px;
}

.google_translator{

}

.logo_ads{

}

.org_banner{
	margin-top: 30px;
}

div#google_translate_element {
    float: right;
    position: absolute;
    right: 50px;
    top: 50px;
}

.social_media_adp{
	float: right;
	margin-right: 10px;
}

.news_style1 {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #06C;
    text-align: justify;
    line-height: 20px;
    margin: 5px;
    font-family: sans-serif;
}

.news_style1 img{
    border: 1px solid #457DED;
    margin-left: 10px !important;
}

.banner_latestN{}

.banner_latestN h2{
	padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 20px;
    color: #FFFFFF;
    text-align: center;
}

.org_webbanner{
    position: relative;
    background: #4496EA;
    padding-top: 32px;
    padding-bottom: 68px;
}

.apply_for_admission{
	position: absolute;
	right: 5px;
}

.titleorgin{
	float:left;
}

.top_buttons{
	float:right;
	padding-right: 0;
}

.login_regi_area{
	float: right;
}

/* Responsive code for Tab*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.banner_latestN {
	   
	}
}

/* Responsive code for Smart phone*/
@media only screen and (max-width: 767px) {
	.banner_latestN {
	    
	}
}

/* Responsive code for small mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.banner_latestN {
	   
	}
}

/* Responsive code for extra small mobile */
@media only screen and (max-width: 480px) {
	.banner_latestN {
	    
	}
}