/*   
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio and Blog Theme.
 * Version: 1.3
 * Author: Html Stream
 * Website: http://htmlstream.com/preview/unify
*/

/*Reset Styles
------------------------------------*/
* {
   border-radius: 0 !important;
}




.text-justify p {
   text-align: justify;
}

/*Tables
------------------------------------*/
/*Basic Tables*/
.table thead > tr > th {
   border-bottom: none;
}

/*Forms
------------------------------------*/
.form-control {
   box-shadow: none;
}
.form-control:focus {
   border-color: #bbb;
   box-shadow: 0 0 2px #c9c9c9;
}

/*Form Spacing*/
.form-spacing .form-control {
   margin-bottom: 15px;
}



/*Button Styles
------------------------------------*/
.btn {
   box-shadow: none;
}

.btn-u {
   border:0;
   font-size:14px;
   cursor:pointer;
   padding:6px 13px;
   position:relative;
   background:#72c02c;
   display:inline-block;
   color:#fff !important;
   text-decoration:none !important;
}
.btn-u:hover {
   color:#fff;
   background:#5fb611;
   text-decoration:none;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.btn-u-small {
   padding:3px 12px;
}
.btn-u-lg {
   font-size:18px;
   padding:10px 25px;
}

a.btn-u {
   padding:4px 13px;
   vertical-align:middle;
}
a.btn-u-small {
   padding:2px 12px;
}
a.btn-u-lg {
   font-size:18px;
   padding:6px 25px;
}

/*For FF Only*/
@-moz-document url-prefix() { 
   .footer-subsribe .btn-u {
      padding-bottom: 5px;
   }
}
@media (max-width: 768px) { 
   @-moz-document url-prefix() { 
      .btn-u {
         padding-bottom: 5px;
      }
   }
}

/*Buttons Color*/
.btn-u-blue {
   background: #3498db !important;
}
.btn-u-blue:hover {
   background: #2980b9 !important;
}

.btn-u-red {
   background: #e74c3c !important;
}
.btn-u-red:hover {
   background: #c0392b !important;
}

.btn-u-orange {
   background: #e67e22 !important;
}
.btn-u-orange:hover {
   background: #d35400 !important;
}

.btn-u-sea {
   background: #1abc9c !important;
}
.btn-u-sea:hover {
   background: #16a085 !important;
}

.btn-u-green {
   background: #2ecc71 !important;
}
.btn-u-green:hover {
   background: #27ae60 !important;
}

.btn-u-yellow {
   background: #f1c40f !important;
}
.btn-u-yellow:hover {
   background: #f39c12 !important;
}

.btn-u-default {
   background: #95a5a6 !important;
}
.btn-u-default:hover {
   background: #7f8c8d !important;
}




/*Font Awesome Icon Page*/
.fa-heading .headline {
   margin-bottom: 20px;
}
.fa-heading .headline h2 {
   font-size: 19px;
}

.fa-icons li {
   font-size: 11px;
   margin-bottom: 3px;
   background: #fafafa;
   border: solid 1px #eee;
   font-family: "Open Sans";
}

.fa-icons li:hover { 
   color: #72c02c;
}

.fa-icons li i { 
   padding: 4px;
   min-width: 30px;
   font-size: 18px;
   background: #eee;
   margin-right: 5px;
}
.fa-icons li:hover i {
   color: #fff;
   background: #72c02c; 
}

/*Font Awesome Icon Styles*/
.style-icons i {
   display: inline-block !important;
}
.style-icons a:hover {
   text-decoration: none;
}

i.icon-round {
   color: #666;
   padding: 7px 0; 
   min-width: 40px;
   font-size: 22px;
   margin-bottom: 5px;
   display: inline-block;   
   border: solid 1px #ddd;
   border-radius: 50% !important;
}

i.icon-round-lg {
   min-width: 55px;
   font-size: 35px;
   padding: 10px 0;
   line-height: 33px;
   margin-bottom: 10px;
   border-radius: 50% !important;
}

i.icon-round-sm {
   padding: 5px 0;
   font-size: 16px;
   min-width: 30px;
}

i.icon-color-blue {
   color: #3498db;
   background: none;
   border: solid 1px #3498db;
}
i.icon-color-red {
   color: #e74c3c;
   background: none;
   border: solid 1px #e74c3c;
}
i.icon-color-sea {
   color: #1abc9c;
   background: none;
   border: solid 1px #1abc9c;
}
i.icon-color-green {
   color: #2ecc71;
   background: none;
   border: solid 1px #2ecc71;
}
i.icon-color-yellow {
   color: #f1c40f;
   background: none;
   border: solid 1px #f1c40f;
}
i.icon-color-orange {
   color: #e67e22;
   background: none;
   border: solid 1px #e67e22;
}
i.icon-color-grey {
   color: #95a5a6;
   background: none;
   border: solid 1px #95a5a6;
}

i.icon-bg-red,
i.icon-bg-sea,
i.icon-bg-grey,
i.icon-bg-blue,
i.icon-bg-green,
i.icon-bg-yellow,
i.icon-bg-orange,
i.icon-bg-default {
   color: #fff;
   border: none;
   background: #666;
}

i.icon-bg-blue {
   background: #3498db;
}
i.icon-bg-red {
   background: #e74c3c;
}
i.icon-bg-sea {
   background: #1abc9c;
}
i.icon-bg-green {
   background: #2ecc71;
}
i.icon-bg-yellow {
   background: #f1c40f;
}
i.icon-bg-orange {
   background: #e67e22;
}
i.icon-bg-grey {
   background: #95a5a6;
}
i.icon-bg-default {
   background: #666;
}

/*GLYPHICONS Icons
Special styles for displaying the icons and their classes*/
.bs-glyphicons {
   padding-left: 0;
   padding-bottom: 1px;
   margin-bottom: 20px;
   list-style: none;
   overflow: hidden;
}
.bs-glyphicons li {
   float: left;
   width: 25%;
   height: 115px;
   padding: 10px;
   font-size: 12px;
   line-height: 1.4;
   text-align: center;
   margin: 0 -1px -1px 0;
   border: 1px solid #ddd;
}
.bs-glyphicons .glyphicon {
   display: block;
   font-size: 24px;
   margin: 5px auto 10px;
}
.bs-glyphicons li:hover {
   color: #72c02c;
   background-color: #fafafa;
}

@media (min-width: 768px) {
  .bs-glyphicons li {
    width: 12.5%;
  }
}

/* Make Font Awesome icons fixed width */
li [class^="icon-"],
li [class*=" icon-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}
li [class^="icon-"].icon-lg,
li [class*=" icon-"].icon-lg {
  /* increased font size for icon-lg */
  width: 1.5625em;
}

/*Others (Global classes)
------------------------------------*/
.color-sea { color:#1abc9c;}
.color-red { color:#e74c3c;}
.color-blue { color:#3498db;}
.color-green { color:#72c02c;}
.color-orange { color:#e67e22;}
.color-green1 { color:#2ecc71;}

.lft-img-margin { margin:0 20px 5px 0;}
.rgt-img-margin { margin:0 0 5px 10px;}

.overflow-hidden { overflow:hidden;}
.padding-left-5 { padding-left:5px;}
.img-width-200 { width:200px;}

/*Image Border*/
.img-border {
   border:solid 3px #fff;
}

/*Background light-style*/
.bg-light { 
   padding:10px 15px; 
   margin-bottom:10px; 
   background:#fcfcfc; 
   border:solid 1px #e5e5e5;
}
.bg-light:hover { 
   border:solid 1px #bbb;
}

/*Link read-more*/
a.read-more {
   font-weight:bold;
   text-decoration:none;
}
a.read-more:hover { 
   color:#72c02c; 
   text-decoration:none;
}

/*Link color-green-style*/
.linked:hover {
   color:#72c02c;
   text-decoration:none;
}

/*Pagination*/
.pagination-no-space .pagination {
   margin: 0;
}

/*CSS3 Hover Effects*/
.hover-effect {
   -webkit-transition:all 0.4s ease-in-out;
   -moz-transition:all 0.4s ease-in-out;
   -o-transition:all 0.4s ease-in-out;
   transition:all 0.4s ease-in-out;
}
.hover-effect-kenburn {
   left:10px;
   margin-left:-10px;
   position:relative;
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
   -webkit-transform: scale(2) rotate(5deg);
   -moz-transform: scale(2) rotate(5deg);
   -o-transform: scale(2) rotate(5deg);
   -ms-transform: scale(2) rotate(5deg);
   transform: scale(2) rotate(5deg);
}

/*Spaces*/
.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-20, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-50, 
.margin-bottom-60 { 
   clear:both;
}   
.margin-bottom-5 {
   margin-bottom:5px;
}
.margin-bottom-10 {
   margin-bottom:10px;
}
.margin-bottom-20 {
   margin-bottom:20px;
}
.margin-bottom-25 {
   margin-bottom:25px;
}
.margin-bottom-30 {
   margin-bottom:30px;
}
.margin-bottom-35 {
   margin-bottom:35px;
}
.margin-bottom-40 {
   margin-bottom:40px;
}
.margin-bottom-50 {
   margin-bottom:50px;
}
.margin-bottom-60 {
   margin-bottom:60px;
}

/*Clients Carousel (Flexslider)
------------------------------------*/
.clients {
   box-shadow:none !important;
   margin-bottom: 0 !important;    
}
.clients li {
   float: left;
   overflow: hidden;
   margin-left: 1px;
   position: relative;
   background: #fafafa;
}
.clients li:hover {
   background: #f6f6f6;
}
.clients li img.color-img {
   top: 0;
   left: 0;
   display: none;
   position: absolute;
}
.clients li:hover img.color-img { 
   display: block;
}
.clients li img {
   filter: gray; /* IE6-9 */
   float: none !important;
   margin: 0 auto !important;
}
.clients li img:hover {
    filter: none;
}
.clients, 
.flexslider.home {
    border: 0;
    overflow: hidden;
    margin-top: 10px;      
    margin-bottom: 30px;      
}

.flexslider { 
   margin-top: 10px !important;
   background: none !important;
}
.flexslider .flex-direction-nav a {
   margin-top: -10px !important;
}

/*Fancybox
------------------------------------*/
/*For Topbar*/
.fancybox-overlay.fancybox-overlay-fixed {
   z-index:9999;
}

/*FancyBox Hover Effect*/
.zoomer:hover .overlay-zoom .zoom-icon{
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   opacity:0.4;   
   filter: alpha(opacity = 50);
}

.overlay-zoom {
   display: block;
   cursor: pointer;
   width: 100%;
   height: 100%;
   position: relative;     
   -webkit-transition: all 0.1s ease-in-out;
   -moz-transition: all 0.1s ease-in-out;
   -o-transition: all 0.1s ease-in-out;
   -ms-transition: all 0.1s ease-in-out;
   transition: all 0.1s ease-in-out;
   z-index: 90;
}

.overlay-zoom .zoom-icon {
   background-image:url("../img/overlay-icon.png");
   background-color: #000;
   background-repeat: no-repeat;
   background-position: 50%;
   position: absolute;
   width: inherit;
   height: inherit;
   opacity: 0; 
   z-index: 100;
   filter: alpha(opacity = 0);
   top:0;   
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-backface-visibility: hidden;
}

/*Main Slider (Parallax)
------------------------------------*/
.slider-inner .da-slider {
   box-shadow: none;
   border-bottom: 2px solid #ddd;
}

/*Revolution Slider
------------------------------------*/
.bg-black-opacity {
   background: url(../img/sliders/revolution/bg-text.php) repeat;
   padding: 7px;
   text-shadow: none !important;
}

.fullwidthbanner-container{
   padding:0;
   overflow:hidden;
   position:relative;
   width:100% !important;
   max-height:500px !important;
}

/*Layer Slider
------------------------------------*/
.layer_slider {
   overflow: hidden;
}

.ls-ct-half, .ls-ct-center {
   border-radius: 100px !important;
}

/*Responsive Video
------------------------------------*/
.responsive-video {
   height: 0;
   padding-top: 1px;
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
}
.responsive-video iframe {
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}

/*Boxed Layout
------------------------------------*/
.boxed-layout {
   padding: 0;
   border-left: solid 1px #f7f7f7;
   border-right: solid 1px #f7f7f7;
}

/*Style Switcher
------------------------------------*/
i.style-switcher-btn {
   right: 0;
   top: 37px;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   z-index: 555555;
   position: fixed;
   padding: 7px 9px;
   background: #585f69;
   border-radius: 6px 0 0 6px !important;   
}

i.style-switcher-btn:hover {
   background:#707985;
}

i.style-switcher-btn-option {
   top: 38px;
   background: #9097a0;
}

i.style-switcher-btn-option:hover {
   background: #707985;
}

.style-switcher {
   right: 0;
   top: 37px;
   width: 205px;
   display: none;
   z-index: 555555;
   position: fixed;
   background: #585f69;
   border: solid 1px #666d76;
   padding: 15px 15px 15px 20px;
   border-radius: 6px 0 0 6px !important;
}

.style-switcher-inner {
   background: #9097a0;
}

.style-switcher .theme-close {
   top: 10px;
   right: 6px;
   position: absolute;
}

.style-switcher .theme-close i {
   color: #fff;
   cursor: pointer;
   font-size: 18px;
   padding: 5px 7px;
   background: #464e5b;
}

.style-switcher .theme-close i:hover {
   color: #464e5b;
   background: #fff;
 }

.style-switcher .theme-heading {
   color: #fff;
   font-size: 16px;
   margin-bottom: 10px;
   text-transform: uppercase;
}

.style-switcher-logo  {
   margin-top: 10px;
   padding-top: 15px;
   border-top: solid 1px #4c5159;
}

.style-switcher-logo a {
   display: block;
   text-align: center;
}

.style-switcher ul {
   margin-bottom: 0;
}

.style-switcher li {
   width: 26px;
   height: 26px;
   cursor: pointer;
   background: #c00;
   margin: 0 5px 5px 0;
   display: inline-block;
}

.style-switcher li.last {
   margin-right: 0;
}

.style-switcher li:hover,
.style-switcher li.theme-active {
   border: solid 2px #fff;
}

.style-switcher a.btn-u-green.active-switcher-btn {
   border: solid 1px #eee;
   background: #2ecc71 !important;
}

.style-switcher a.btn-u-sea.active-switcher-btn {
   border: solid 1px #eee;
   background: #1abc9c !important;
}

.style-switcher li.theme-default {
   background: #72c02c;
}
.style-switcher li.theme-blue {
   background: #3498db;
}
.style-switcher li.theme-orange {
   background: #e67e22;
}
.style-switcher li.theme-red {
   background: #e74c3c;
}
.style-switcher li.theme-light {
   background: #ecf0f1;
}